.About{
    background-image: url("https://media.discordapp.net/attachments/1106963592567324717/1106974318816141412/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.png ");
    background-size:cover;
    height:100vh;
}
.Sheading{
    color:gold;
    font-family:"roboto";
    font-style:italic;
    font-size: 28px;
    width:auto;
    margin: auto;
    padding: 50px;
}