
.main-heading21 {
    color: red;
    text-decoration: underline;
    padding: 20px;
    font-family: Roboto;
}

.container3 {
    background-image: url("https://media.istockphoto.com/id/1416335096/photo/businessman-hand-holding-smart-phone-with-icon-mobile-phone-mail-telephone-and-address.jpg?b=1&s=170667a&w=0&k=20&c=O39_wq7HB2oZHV3pyeZDxFAq0Xb_zNvLKrAIEWDVveY= ");
    background-size: cover;
    width:100vw;
}
.container4{
    background-color:#ffffff;
    border-radius: 15px;
    height:300px;
    width:300px;
    padding-left:10px;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:25px;
    border-style: solid;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    
}

.name1 {
    color:white;
    height: 20px;
    font-weight: bold;
    font-family: Lobster;
    font-size: 25px;
    margin: 20px;
}

.card21 {
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmf99x5HaSciq_u81Wg4yt7cwy9-gp24NjxA&usqp=CAU");
    background-size: cover;
    height: 50vh;
    width: 25vw;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 20px;
}

.button11 {
    background-color: red;
    color: white;
    height: 40px;
    width: 75px;
    margin: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}